<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        img {
            width: 300px;
            height: 250px;
        }
        body{
            background-color: darkorange;
            align-content: center;
        }
    </style>
</head>

<body>
    <div>

        <div id="tmpA_txt" hidden>Template A !</div>
        <div hidden>
            <span>ad name: </span>
            <span id="ad-name"></span>
        </div>
        <div id="text1"></div>
        <div id="text2"></div>
        <img src="" id="img1" />
        <div id="text3"></div>
        <div id="text4"></div>
        <img src="" id="img2" />
        <div id="text5"></div>
        <div id="text6"></div>
        <img src="" id="img3" />
        <div id="text7"></div>
        <div id="text8"></div>
        <img src="" id="img4" />
        <div id="text9"></div>
        <div id="text10"></div>
        <img src="" id="img5" />

    </div>
</body>

</html>